<header>
  <div class="nav navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <!-- <a class="logo navbar-brand waves-light waves-effect" [routerLink]="['/dashboard']">
        <img src="assets/img/brand/logo-white.png" style="height: 2rem;">
      </a>
      <span class="navbar-text white-text">
        <img src="assets/img/brand/capgemini-white.png" style="height: 2rem;">
      </span> -->
    </div>
  </div>
  <div class="view" style="background-image: url('assets/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-gradient d-flex flex-column align-items-center" style="align-items: center;">
      <div class="container container-content pt-5">
        <app-login></app-login>
      </div>
    </div>
  </div>
</header>